:root {
    --bg-color: #021D40;
    --header: #1D107A;
    --button: #7004d3;
    } 

header {
    background-color: var(--header);
}

body {
    background-color: var(--bg-color);
}

#btn {
    background-color: var(--button);
    color: #fff;
}


#star-logo {
    color: #fff;
    font-family: 'Audiowide', sans-serif;
    font-size: 50px;
    font-style: italic;
}