:root {
    --bg-color: #021D40;
    --header: #1D107A;
    --button: #7004d3;
    } 

header {
    background-color: var(--header);
}

body {
    background-color: var(--bg-color);
    background-image: url("../constellation\ image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
}

#title-text {
    display: flex;
    flex-direction: column;
}


.subtitle {
    color: white;
}


#btn {
    background-color: var(--button);
    color: #fff;
}

#star-logo {
    color: #fff;
    font-family: 'Audiowide', sans-serif;
    font-size: 3rem;
    font-style: italic;
    max-width:50%;
    width:45%;
    margin-left: 0px;
    padding-left: 5px;
    padding-top: 10px;
}
.search-bar {
    width:40%;
    max-width: 45%;
    margin-right: 0px;
    padding-top: 2%;
    display:flex;
    gap:3%;
    flex-direction: row;
    justify-content: flex-end;
}
.search-input {
    width:50%;
    max-width: 55%;
}

.hero {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
}
.search-previous {
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding:1%;
}

footer {
    position:fixed;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: unset;
}

footer h4 {
    width: 30%;
    max-width: 33%;
}